$bg: #28475c;
$bg-panel: #fff;
$bg-panel-header: #1a2f4b;

@import 'normalize';
@import 'core';
@import 'forms';
@import 'buttons';

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    .navigation__item {
        display: inline-block;
    }
}

.login {
    background: $bg-panel;
    box-shadow: 0 12px 15px rgba(0,0,0,.4);
    margin: 40px 0;

    .login__header {
        font-weight: bold;
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0;
        display: block;
    }

    .login__body {
        padding: 20px;
    }
}

.container {
    width: 300px;
    margin: 0 auto;
}