$bg: #28475c;
$bg-panel: #fff;
$bg-panel-header: #1a2f4b;

@import 'normalize';
@import 'core';
@import 'forms';
@import 'buttons';

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    .navigation__item {
        display: inline-block;
    }
}

.login {
    background: $bg-panel;
    box-shadow: 0 12px 15px rgba(0,0,0,.4);
    margin: 40px 0;

    .login__header {
        font-weight: bold;
        text-align: center;
        padding: 20px 0 0 0;
        margin: 0;
        display: block;
    }

    .login__body {
        padding: 20px;
    }
}

.container-login {
    width: 300px;
    margin: 0 auto;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.projects {
    list-style: none;
    margin: 40px 0;
    padding: 0;

    .projects__item {
        a {
            display: block;
            background: #fff;
            margin-bottom: 5px;
            padding: 15px;
            font-weight: bold;
            color: $bg;
            font-family: 'Scope One', serif;
            &:hover, &:focus, &:active {
                color: #fff;
                background: $bg-panel-header;
                small {
                    color: #89a4c8;
                }
            }
            small {
                display: block;
                font-weight: normal;
                color: #545454;
                margin-top: 15px;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}

.project {
    background: #fff;
    .project__header {
        margin: 0;
        padding: 0;
    }
    .project-body {
        padding: 20px;
    }
}