*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background: $bg;
    color: $bg;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Scope One', serif;
    color: #28475c;
}

a {
    text-decoration: none;
    color: #84c69b;
}